:root{
    --primary-color: white;
    --font: 3rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*html{
    font-size: 62.5%; 1rem=10px 
}

body{
    font-size: var(--font);
}*/

header{
    /*width: 100vw;
    height: 25vh;*/
    background-color: var(--primary-color);
}
header h1{
    font-size: 7rem;
    text-align: center;
    padding: 2rem;
}

main{
    /*width: 100vw;
    height: 70vh;*/
    background-color: #fff;
    /*display: inline-flex;*/
}
#search {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -20px auto 0;
}
#search label {
    position: absolute;
    left: 17px;
    top: 45px;
}
#search #search-input {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}
#search #search-clear {
    text-decoration: none;
    position: absolute;
    right: 18px;
    top: 50px;
    color: #b3b3b3;
}

.section-accordion{
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

/*.div-flex{
    position: relative;
    display: flex;
}*/

.span-ejemplo-1{
    border-style: dashed;
    border-width: 0.3rem;
    padding: 1rem;
}

.imgMago{
    height: 20rem;
    width: 30rem;
}

footer{
    /*width: 100vw;*/
    height: 15vh;
    background-color: black;
}

pre[class*="language-"]{
  position: relative;
  overflow: visible;
  border-radius: 5px;
  /*display: grid;*/
}
.copy{
    content: "copy";
    padding: 2px 10px 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10px, -90%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background: #272822;
    cursor: pointer;
    transition: all 200ms ease;
}
.copy:hover{
    transform: translate(-10px, -100%);
    color: gray;
}
code{
  overflow: scroll;
}
code[class*="language-"], pre[class*="language-"] {
    white-space: normal !important;
    word-break: break-word !important;
}